/* /* http://www.java2s.com/example/html-css/css-form/css-star-rating-control-with-radio-buttons.html
.stars {
   float: left;
   overflow: hidden;
   width: 100%;
}
.stars input[type=radio]:checked ~ label:after {
   background: gold;
}
.stars input[type=radio] {
   display: none;
}
.stars input[type=radio]:first-child + label {
   padding-right: 0;
}
.stars:hover input[type=radio]:checked ~ label:after,
.stars label:after {
   background: gold;
}
.stars label {
   box-sizing: border-box;
   width: 20%;
   padding-right: 2%;
   height: 120px;
   float: right;
   border-radius: 60px;
}
.stars label:after {
   display: block;
   content: "";
   height: 120px;
   width: 100%;
   float: right;
   transition: all 0.25s;
   background: white;
   
   cursor: pointer;
   border: 0.2em solid black;
   border-radius: 60px;
}
.stars label:hover:after,
.stars label:hover ~ label:after {
   background: gold !important;
} */


.stars label:before {
  content: '☆';
  color: gold;
  font-size: 2em;
}
.stars label.on:before {
  content: '★';
  color: gold;
  /* uncomment for iOS */
/*   font-size: 2.4em;
  top: -0.1em;
  left: -0.1em; */
}
.stars input:checked + label:before {
  content: '★'; 
  color: gold;
  /* uncomment for iOS */
/*   font-size: 2.4em;
  top: -0.1em;
  left: -0.1em; */
}
.stars label {  
  display: inline-block;  
  cursor: pointer;
  padding-left: 25px;  
  margin-right: 15px;  
  font-size: 20px; 
}
.stars label:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  left: 0;
  border-radius: 10px;
}
.stars input[type=radio] {
  display: none;
  -webkit-appearance: none;
}