<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	background-color: #5D76A9;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/adminHomepage.jpg");
  min-height: 75%;
}
.home-buttons{
	color: white
}
</style>
</head>
<body>

	<div class="w3-top">
		<div class="w3-bar w3-card" id="myNavbar">
		
	    	<a th:href="@{/admin}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/poster}">Poster homescreen</a>
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/student}">Student homescreen</a>
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/parent}">Parent homescreen</a>
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
	<div class="w3-text-white w3-display-container w3-grayscale-min w3-left w3-display-bottomleft" style="padding:40px">
		<h1>Hello, <span th:text="${name}"></span></h1>
		<div>Administrator</div>
	</div>
	</header>
	
	<div class="w3-row-padding w3-center" style="margin-top: 2em">
		<a class="w3-half w3-border w3-button home-buttons" th:href="@{/admin/accountmanager}" style="padding: 2em 7em">
	   		<i class="fa fa-pencil"></i>Account manager
		</a>
		<a class="w3-half w3-border w3-button home-buttons" th:href="@{/jobs}" style="padding: 2em 7em">
	    	<i class="fa fa-search"></i>Browse Jobs
		</a>
	</div>
</body>
</html>