<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${job.title}"></title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<div class="w3-display-container w3-grayscale-min w3-center w3-display-middle">
		<a th:href="@{/jobs}"><i class="fa fa-arrow-left"></i>Back</a>
		<h1 th:text="${job.title}"></h1>
		
		<div th:if="${job.student != null}">
			<div class="w3-red">This job is currently assigned to a student</div>
		</div>
		
		<div>
			<h3>Description: </h3>
			<div th:text="${job.description}"></div>
			
			<h3>Price:</h3>
			<div th:text="'$' + ${job.price}"></div>
			
			<h3>Posted by:</h3>
			<div th:text="${job.jobPoster.account.firstName}"></div>
			
			<h4>Would this be suitable for someone underage?</h4>
			<div th:text="${job.underage}"></div>
			
			<a class="w3-button w3-black" th:if="${isStudent == true and job.getStudent == null}" 
			th:href="@{/assign/{jobid}(jobid=${job.id})}">Apply for this job</a>
		</div>
	</div>
</body>
</html>