<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>

<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/parent}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<h1>Hello, <span th:text="${name}"></span></h1>
	<div>Role: Parent</div>
	<a th:href="@{/search}">Search Jobs</a>
	 <a th:href="@{/viewjobs}">View jobs that your child has applied</a>
	 <a th:href="@{/chat}">Go to Live Chat</a>
</body>
</html>