<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>

<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/jobs}"><i class="fa fa-search"></i>Browse Jobs</a>
	    		<a class="w3-bar-item w3-button w3-wide"><i class="fa fa-child"></i>Child's jobs</a>
	    		<a class="w3-bar-item w3-button w3-wide"><i class="fa fa-comments-o"></i>Live Chat</a>
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<div class="w3-display-container w3-grayscale-min w3-center w3-display-middle">
	<h1>Hello, <span th:text="${name}"></span></h1>
	<div>Role: Parent</div>
	<div>Do you want to connect with your children? Please enter his/her email!</div>
		<form action="#" th:action="@{/viewjobs}" method="get">

		<label for="email">
	 			<input type="email" class="w3-input w3-border" name="email" id="email" required/>
				<input type="submit" value="Submit" class="w3-button w3-black"/>
	 		</label>
		</form>
		<br>
		<div th:if="${error}">
			<div class="alert w3-red">
				<span th:text="${error}"></span>
			</div>
		</div>
	 </div>
</body>
</html>