<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${job.title}"></title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/star-rating.css"
			th:href="@{/css/star-rating.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<div class="w3-display-container w3-grayscale-min w3-center w3-display-middle w3-border">
		<a th:href="@{/jobs/{jobid}(jobid=${job.id})}"><i class="fa fa-arrow-left"></i>Back</a>
		
		<h1 th:text="'Pay student for job: ' + ${job.title}"></h1>
		<img alt="" th:src="@{../../images/completed-job-photos/{id}/completed-job-{id}.jpg(id=${job.id})}"><!-- Display student's proof of job completion image -->
		
		<h2>Student's PayPal/eTransfer email address:</h2>
		<div th:if="${student.transferEmail != null || student.transferEmail != ''}" th:text="${student.transferEmail}"></div>
		<div th:if="${student.transferEmail == null || student.transferEmail == ''}"> Student has not entered an email yet</div>
		
		<hr>
		
		<h3>How did they do?</h3>
		
		<form style="margin: 2em">
			<div class="stars"> 
			   <input type="radio" id="r1" name="rating" value="1"> 
			   <label for="r1"></label> 
			   <input type="radio" id="r2" name="rating" value="2"> 
			   <label for="r2"></label> 
			   <input type="radio" id="r3" name="rating" value="3"> 
			   <label for="r3"></label> 
			   <input type="radio" id="r4" name="rating" value="4"> 
			   <label for="r4"></label> 
			   <input type="radio" id="r5" name="rating" value="5"> 
			   <label for="r5"></label> 
	  		</div>
	  		<br>
	  		<label for="paid">
	  			<input type="checkbox" name="paid" id="paid" required> Did you pay the student?
	  		</label>
	  		<br>
	  		<input class="w3-button w3-black" type="submit" value="Submit">
	  		<br>
  		</form>
	</div>
	<script>
	$('input[type="radio"]').click(function() {
		  var theNumber = $(this).attr('id').slice(-1);
		  $(this).siblings('label').each(function() {
		    var sibNumber = $(this).attr('for').slice(-1);
		    console.log("before if statement")
		    if (sibNumber <= theNumber) {
		    console.log("added class on")
		      $(this).addClass('on');
		    } else {
		    console.log("removed class on")
		      $(this).removeClass('on');
		    }
		  });
		});
	</script>
</body>
</html>