<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${job.title}"></title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script
    		src="https://www.paypal.com/sdk/js?client-id=Ac2FNOwdiWiyZ0r305sc15nX_ADAsbuii7MpbcvCp6zn-sHJ6csAUUE1ByHUtHzONrUWPRZ5jgdz0R2Y">
  	</script>
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<div class="w3-display-container w3-grayscale-min w3-center w3-display-middle">
		<a th:href="@{/jobs}"><i class="fa fa-arrow-left"></i>Back</a>
		
		<h1 th:text="'Pay student for job: ' + ${job.title}"></h1>
		<img alt="" src=""><!-- Display student's proof of job completion image -->
		
		<div id="paypal-button-container"></div>
	</div>


<script>
    paypal.Buttons().render('#paypal-button-container');
    // This function displays Smart Payment Buttons on your web page.
  </script>
</body>
</html>