<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	background-color: #5D76A9;
}
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/posterHomepage.jpg");
  min-height: 45%;
}
.home-buttons{
	color: white
}
</style>
</head>
<body>

	<div class="w3-top">
		<div class="w3-bar w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
				<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>
	
	<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
		<div class="w3-text-white w3-display-container w3-grayscale-min w3-left w3-display-bottomleft" style="padding:40px">
			<h1>Hello, <span th:text="${name}"></span></h1>
			<div>Job Poster</div>
		</div>			
	</header>
	
	<div class="w3-display-container w3-grayscale-min w3-center" 
	style="padding:60px 16px; position:absolute; left:50%; transform:translate(-50%, 0%)">
		<div class="w3-row-padding w3-center">
			<a class="w3-half w3-border w3-button home-buttons" th:href="@{/jobs}" style="padding: 2em 7em">
	    		<i class="fa fa-search"></i>Browse Jobs
			</a>
			<a class="w3-half w3-border w3-button home-buttons" th:href="@{/jobpost}" style="padding: 2em 7em">
		    	<i class="fa fa-pencil"></i>Post a job
			</a>
		</div>
		
		<table class="w3-table-all" style="margin-top:4em" th:if="${jobs != null}">
			<tr><th colspan="10">YOUR CURRENT OPEN JOBS<th></tr>
			<tr>
				<th>Job Title</th>
				<th>Job Description</th>
				<th>Price</th>
				<th>Province</th>
				<th>City</th>
				<th>Street Address</th>
				<th>Postal Code</th>
				<th>Under-age</th>
				<th colspan="3">
			</tr>
			<tr th:each="j : ${jobs}">
				<td th:text="${j.title}"></td>
				<td th:text="${j.description}"></td>
				<td th:text="'$' + ${j.price}"></td>
				<td th:text="${j.address.province}"></td>
				<td th:text="${j.address.city}"></td>
				<td th:text="${j.address.street}"></td>
				<td th:text="${j.address.postalCode}"></td>
				<td th:text="${j.underage}"></td>
				<td><a th:href="@{/delete/{jobid}(jobid=${j.id})}">DELETE</a></td>
				<td><a th:href="@{/jobs/{jobid}(jobid=${j.id})}">Job details</a></td>			
			</tr>
		</table>
	</div>
	
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/615656de25797d7a8901b06a/1fgsk6l5j';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
	
</body>
</html>