<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create an account</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="w3-top">
	<div class="w3-bar w3-white w3-card" id="myNavbar">
	
    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
    	
    	<div class="w3-right w3-hide-small">
	    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/login}"><i class="fa fa-user"></i>Login</a>
	    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/signup}"><i class="fa fa-pencil"></i>Sign up</a>
    	</div>
    </div>
</div>

<div class="w3-container">
	
	<h1 class="w3-center" style="padding-top: 2em">Create an account</h1>
	
	<div class="w3-row-padding w3-center">
		<form action="#" th:action="@{/signup}" th:object="${account}" method="post">
	 
	 	<div class="w3-half" style="padding: 2em 7em">
	 
		 	<div style="padding-bottom: 2em">
		 		<label for="type">
		 			Account type: 
			  		<select th:field="*{accountType}" class="w3-select" id="type">
			            <option th:each="a: *{accountTypes}" th:value="${a}" th:text="${a}">
			        </select>
		 		</label>
		 	</div>
		 		
		     <div style="padding-bottom: 2em">
		        <label for="email">
		 			Email:
		 			<input type="email" class="w3-input w3-border" name="email" id="email" required/>
		 		</label>
		 	</div>
		        
		    <div style="padding-bottom: 2em">
		        <label for="password">
		 			Password:
		 			<input type="password" class="w3-input w3-border" name="password" id="password" required/>
		 		</label>
		 	</div>
		     
		     <div style="padding-bottom: 2em">
		        <label for="firstName">
		 			First Name:
		 			<input type="text" class="w3-input w3-border" name="firstName" id="firstName" required/>
		 		</label>
		 	</div>
		 	
		        
		     <div style="padding-bottom: 2em">
		        <label for="lastName">
		 			Last Name:
		 			
		 			<input type="text" class="w3-input w3-border" name="lastName" id="lastName"/>
		 		</label>
		 	</div>
		 	
		 	<div style="padding-bottom: 2em">
		        <label for="phone-number">
		 			Phone number (ex. 000-000-0000):
		 			<input type="tel" class="w3-input w3-border" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
		 				name="phoneNumber" id="phoneNumber" required/>
		 		</label>
		 	</div>
	 		
	 	</div>
	 		
	 	<div class="w3-half" style="padding: 2em 7em">

	         
	    	<div style="padding-bottom: 2.7em">
		        <label for="birthDate">
		 			Birth date:
		 			
		 			<input type="date" name="birthDate"  id="birthDate"/>
		 		</label>
		 	</div>
	        
	       
	        <div style="padding-bottom: 2.7em">
		        <label for="province">
		 			Province: 
		        
			        <select th:field="*{address.province}" class="w3-select" id="province">
			            <option th:each="p: *{address.provinces}" th:value="${p}" th:text="${p}">
			        </select>
		 		</label>
	 		</div>
	 		
	 		
	        <div style="padding-bottom: 2.7em">
		        <label for="city">
		 			City:
		 			<input type="text" class="w3-input w3-border" th:field="*{address.city}" id="city"/>
		 		</label>
	 		</div>

	        <div style="padding-bottom: 2.7em">
		        <label for="postalCode">
		 			Postal Code:<input type="text" class="w3-input w3-border" th:field="*{address.postalCode}" id="postalCode"/>
		 		</label>
	 		</div>
	             
	        <div style="padding-bottom: 2.7em">
		        <label for="address">
		 			Street Address:<input type="text" class="w3-input w3-border" th:field="*{address.street}" id="address"/>
		 		</label>
	 		</div>
	 		
	 		<div>
	 			<input type="submit" value="Sign up" class="w3-button w3-black"/>
	 		</div>
	 	</div>
    	</form>
	</div>
</div>
</body>
</html>