<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body{
	background-color: #5D76A9;
}
.bgimg-1 {
  background-position: top center;
  background-size: cover;
  background-image: url("../images/studentHomepage.jpg");
  min-height: 75%;
}
.home-buttons{
	color: white
}
</style>
</head>
<body>

	<div class="w3-top">
		<div class="w3-bar w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/student/profile}"><i class="fa fa-user-circle"></i>Profile</a>
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>

	<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
		<div class="w3-text-white w3-display-container w3-grayscale-min w3-left w3-display-bottomleft" style="padding:40px">			
			<h1>Hello, <span th:text="${name}"></span></h1>
			<div>Student</div>
		</div>
		
		
		
		<div class="w3-grey w3-display-middle" th:if="${parentEmail != null and student.parent == null}" style="padding: 1.2em">
			<h3>You have received a request to link your account!</h3>
			<p>
				The email is: <span th:text="${parentEmail}"></span>
				Only accept if you recognize this email!
			</p>
			<br>
			<div style="padding: 0em 1em 3em 0em">
				<form class="w3-half" method="post" th:action="@{/acceptlink}">
					<input type="hidden" th:value="${student.id}" name="studentId">
					<input type="submit" class="w3-button w3-black " value="Accept">
				</form>
				
				<form class="w3-half" method="post" th:action="@{/declinelink}">
					<input type="hidden" th:value="${student.id}" name="studentId">
					<input type="submit" class="w3-button w3-black" value="Decline">
				</form>
			</div>
		</div>
	</header>
	
	<div class="w3-display-container w3-grayscale-min w3-center" 
	style="padding:60px 16px; position:absolute; left:50%; transform:translate(-50%, 0%)">
	
	<div class="w3-red" style="margin-bottom: 1em" th:if="${student.transferEmail == null || student.transferEmail == ''}">
		You have not connected a transfer email yet!
		You will not be able to receive money until you do so
		</div>
	
		<div class="w3-row-padding w3-center">
			<a class="w3-half w3-border w3-button home-buttons" th:href="@{/jobs}" style="padding: 2em 4em">
				<!-- <a class="w3-bar-item w3-button w3-wide" th:href="@{/jobs}"><i class="fa fa-search"></i>Browse Jobs</a> -->
	    		<i class="fa fa-search"></i>Browse Jobs
			</a>
			<a class="w3-half w3-border w3-button home-buttons" th:href="@{/viewjobs}" style="padding: 2em 4em">
	    		<i class="fa fa-check-square-o"></i>Jobs applied
			</a>
		</div>
	</div>
	
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/615656de25797d7a8901b06a/1fgsk6l5j';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
	
</body>
</html>