<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View posted jobs</title>
<link rel="stylesheet" type="text/css" media="all" 
			href="../static/css/w3.css"
			th:href="@{/css/w3.css}"
		/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card" id="myNavbar">
		
	    	<a th:href="@{/}" class="w3-bar-item w3-button w3-wide">PennyJobs</a>
	    	
	    	<div class="w3-right w3-hide-small">
	    		<a class="w3-bar-item w3-button w3-wide"th:href="@{/search}"><i class="fa fa-search"></i>Search Jobs</a>
	    		<a class="w3-bar-item w3-button w3-wide" th:href="@{/viewjobs}"><i class="fa fa-check-square-o"></i>Jobs applied</a>
		    	<a class="w3-bar-item w3-button w3-wide" th:href="@{/logout}"><i class="fa fa-sign-out"></i>Logout</a>
	    	</div>
	    </div>
	</div>

</body>
</html>